config = {
  games: {
    checkers: {
      cellOddColor: black,
      cellEvenColor: #fff,
      playerColor: tomato,
      opponentColor: lightskyblue
    },
    chess: {
      cellOddColor: darkkhaki,
      cellEvenColor: #fff,
      playerColor: #222,
      opponentColor: gold
    },
    othello: {
      cellOddColor: darkseagreen,
      cellEvenColor: #fff,
      playerColor: darkgray,
      opponentColor: yellowgreen
    }
  },
  options:{
    useHollowPieces: false
  },
  pieces: {
   hollow:{
      king: '2654',
      queen: '2655',
      rook: '2656',
      bishop: '2657',
      knight: '2658',
      pawn: '2659',
      checker: '25CB'
   },
   full:{
     king: '265A',
     queen: '265B',
     rook: '265C',
     bishop: '265D',
     knight: '265E',
     pawn: '265F',
     checker: '25CF'
   }
  }
}